*,
*::before,
*::after{

    box-sizing: border-box;
}

body{
    background: url(../img/fondo.jpg) no-repeat fixed top left;
    background-size: 100vw;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main{
    align-self: center;
    max-height: 500px;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    padding: 15px 15px;
}

.main form button{
    display: block;
    margin-top: 10px;
}

@media screen and (max-width: 800px){
    .main{
        width: 90%;
        align-self: flex-start;
    }
}

@media screen and (max-width: 600px){
    .main{
        width: 90%;
        align-self: center;
    }

    body{
        background-size: 100vw 100vh;
        background-color: #007bff;
    }
}